@model IEnumerable<Web_MVC.Models.News>
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Web_MVC.Models.Project_WebEntities db = new Web_MVC.Models.Project_WebEntities();
}

@section  breadcrumb {
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
        </ol>
        <h2>DANH SÁCH TIN TỨC</h2>
    </div>
    }
        @{
            foreach (var item in Model)
            {
                <a href="@Url.Action("ChiTiet", "DanhSachTinTuc", new { id = item.ID })" style="text-decoration: none; color: #000" class="col-xl-12 d-flex mt-2">
                    <div>
                        <img class="img-news" style="width: 130px; height: 130px; object-fit: cover;" src="@Url.Content(item.Image)" />
                    </div>
                    <div class="p-2">
                        <div style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;  -webkit-line-clamp: 2;  text-overflow: ellipsis; ">
                            <h4>@item.Title</h4>
                        </div>
                        <div style="display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;  -webkit-line-clamp: 3;  text-overflow: ellipsis; ">
                            @Html.Raw(HttpUtility.HtmlDecode(item.Description.ToString()))
                        </div>
                    </div>
                </a>
            }
        }