@model Web_MVC.Models.Infomation
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Web_MVC.Models.Project_WebEntities db = new Web_MVC.Models.Project_WebEntities();
}

@section  breadcrumb {
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
        </ol>
        <h2>GIỚI THIỆU CÔNG TY</h2>
    </div>
}
@Html.Raw(HttpUtility.HtmlDecode(Model.MainInfo.ToString()))
